
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@keyframes slideIn {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-slide-up {
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.animate-pop {
  animation: pop 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
